.post-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
	padding: 1rem;
}

.post-box {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 1rem;
	text-decoration: none;
	color: inherit;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
}

.post-box:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.post-title {
	font-size: 1.5rem;
	margin: 0 0 0.5rem;
}

.post-date {
	font-size: 0.9rem;
	color: #666;
	margin: 0;
}

.article-title {
	font-size: 3rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.article-date {
	font-size: 1.125rem;
	margin-bottom: 1rem;
	text-align: right;
	color: #666;
}

.article-title::after {
	content: "";
	display: block;
	width: 80%;
	height: 2px;
	background: linear-gradient(to right, #87CEEB, #EE82EE);
	margin: 8px auto 0;
}

.article {
	margin: 2rem auto 0rem;
	padding: 1.5rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
	max-width: 90%;
}

.article-content h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
}

.article-content h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.article-content h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.article-content h5 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.article-content h6 {
	font-size: 1.125rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.article-content p {
	font-size: 1.125rem;
	margin-bottom: 1rem;
	line-height: 1.6;
}

.article-content ul {
	list-style-type: disc;
	padding-left: 2rem;
	margin-bottom: 1rem;
}

.article-content ul li {
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
	line-height: 1.6;
}

.article-content ol {
	list-style-type: decimal;
	padding-left: 2rem;
	margin-bottom: 1rem;
}

.article-content ol li {
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
	line-height: 1.6;
}

.article-content blockquote {
	font-size: 1.125rem;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #f0f0f0;
	border-left: 4px solid #ccc;
}

.article-content blockquote p {
	margin-top: 0;
}

.article-content img {
	max-width: 100%;
	height: auto;
	margin: 1rem 0;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article-content a {
	color: #1a73e8;
	text-decoration: none;
}

.article-content a:hover {
	text-decoration: underline;
}

.article-content code {
	background-color: #f0f0f0;
	border-radius: 4px;
	font-family: monospace;
}

.article-content pre {
	background-color: #f0f0f0;
	padding: 1rem;
	border-radius: 8px;
	overflow-x: auto;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	margin: 1rem 0;
}

.article-content pre code {
	font-family: monospace;
	white-space: pre-wrap;
}

.article-content table {
	width: 100%;
	border-collapse: collapse;
	margin: 1rem 0;
}

.article-content table th,
.article-content table td {
	padding: 0.5rem;
	border: 1px solid #ddd;
	text-align: left;
}

.article-content table th {
	background-color: #f0f0f0;
	font-weight: bold;
}

.article-navigation {
	margin: 0.5rem auto;
	padding: 1.5rem;
	max-width: 90%;
}

.article-nav-tile-left,
.article-nav-tile-center,
.article-nav-tile-right {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 1rem;
	text-decoration: none;
	color: inherit;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
	margin-bottom: 1rem;
	text-align: center;
}


.article-nav-tile-left {
	float: left;
	width: 35%;
}

.article-nav-tile-center {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.article-nav-tile-right {
	float: right;
	width: 35%;
}

.article-nav-tile:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.article-nav-tile-label {
	font-size: 1.5rem;
	margin: 0 0 0.5rem;
	font-weight: bold
}

.article-nav-tile-title {
	font-size: 1rem;
	margin: 0;
}

.article-nav-tile-date {
	font-size: 0.9rem;
	color: #666;
	margin: 0;
}

@media (max-width:640px) {
	.post-list {
		grid-template-columns: 1fr;
		gap: 0.5rem;
	}

	.post-box {
		padding: 0.5rem;
	}

	.post-title {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	.post-date {
		font-size: 0.8rem;
	}

	.article-nav-tile-left,
	.article-nav-tile-center,
	.article-nav-tile-right {
		width: 100%;
		float: none;
		margin: 0 auto 1rem;
		padding: 0.5rem;
	}

	.article-title {
		font-size: 2rem;
	}

	.article {
		max-width: 98%;
	}

	.article-content h2 {
		font-size: 1.5rem;
	}

	.article-content h3 {
		font-size: 1.4rem;
	}

	.article-content h4 {
		font-size: 1.3rem;
	}

	.article-content h5 {
		font-size: 1.2rem;
	}

	.article-content h6 {
		font-size: 1.1rem;
	}

	.article-content p,
	.article-content ul li,
	.article-content ol li,
	.article-content blockquote,
	.article-content table td,
	.article-content table th {
		font-size: 1rem;
	}

	.article-nav-tile-label {
		font-size: 1.2rem;
		margin: 0 0 0.3rem;
	}

	.article-nav-tile-title {
		font-size: 0.9rem;
		margin: 0;
	}

	.article-nav-tile-date {
		font-size: 0.8rem;
	}
}
