.license {
	margin-top: 1rem;
	font-size: 1rem;
	text-align: center;
}

.license ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.license li {
	margin-top: 0.5rem;
	font-size: 0.8rem;
}

.license a {
	color: #007bff;
	text-decoration: none;
}

.license a:hover {
	text-decoration: underline;
}

.license strong {
	font-weight: bold;
	font-size: 0.9rem;
}

.main-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 3rem;
	max-width: 900px;
	margin: 2rem auto;
	width: 100%;
}

.puzzle-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
}

.cross-grid {
	max-width: 400px;
	aspect-ratio: 1 / 1;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
	width: 100%;
	height: 100%;
	place-items: center;
}

.slot-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.slot-wrapper.vertical {
	flex-direction: column;
}

.slot-wrapper.horizontal {
	flex-direction: row;
}

.slot,
.center-slot {
	width: 4rem;
	height: 4rem;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	display: flex;
}

.center-slot {
	background-color: #f3f3f3;
}

.arrow-button {
	width: 3.5rem;
	height: 3.5rem;
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
	border-radius: 25%;
	border: 2px solid #aaa;
	background-color: #f3f3f3;
}

.arrow-button:hover {
	background-color: #e0e0e0;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
}

.search-button {
	background-color: #5555cc;
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
}

.search-button:hover {
	background-color: #3333aa;
}

.result-wrapper {
	box-sizing: border-box;
	max-width: 400px;
	margin: 2rem 1rem;
	padding: 1.5rem;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 12px;
	flex: 1;
	min-width: 200px;
	max-width: 400px;
}

.result-label {
	font-size: 1.4rem;
	font-weight: bold;
	color: #333;
	text-align: left;
	margin-top: 0;
	margin-bottom: 1rem;
	border-left: 4px solid #0070ff;
	padding-left: 0.5rem;
}

.result-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.result-list li {
	width: 3.2rem;
	height: 3.2rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #333;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease;
}


.no-result {
	font-size: 1rem;
	color: #777;
	padding: 1rem 0;
	font-style: italic;
}